@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 12px;
}

.Header {
    border-bottom: 2px solid;
}

#DarkModeToggle {
    @apply flex text-gray-900;
}

#DarkModeToggle svg {
    height: 1.5rem;
}

.Nav__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Nav__right svg {
    width: 1.5rem;
    height: 1.5rem;
}

.BingoGridItem {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 769px) {
    .BingoGridItem  {
        min-height: 100px;
    }
}

.Footer__BuiltWith--IconContainer a {
    align-items: center;
    justify-content: center;
}

.Footer__BuiltWith--Icon {
    font-size: 3rem;
    height: 3rem;
}
